<section class="my-event">
  <h4>マイイベント</h4>
  <div class="join-event">
    <h5>参加予定イベント</h5>
  </div>
  <div class="host-event">
    <h5>開催予定イベント</h5>
    <% @events.each do |event| %>
      <%= attachment_image_tag event, :event_image, :fill, 50, 25, format: "jpeg", fallback: "event_image.jpg", size:'50x25' %>
      <%= event.name %>
      <p>
        開催日時：<%= event.started_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %>
        <%= link_to edit_event_path(event.id) do %>
          <i class="fas fa-wrench"></i>
        <% end %>
      </p>
    <% end %>
  </div>
</section>