<!--リクエスト一覧-->
<section class="request columns is-desktop">
  <div class="waiting-list column">
    <h4>承認待ちリクエスト</h4>
    <div class="requested-content">
      <!--非同期リクエスト承認ボタン-->
      <div id="accept-btn">
        <%= render "public/post_requests/accept-btn", requested_posts: @requested_posts %>
      </div>
    </div>
  </div>
  <div class="accept-list column">
    <h4>承認済みリクエスト</h4>
    <div class="accepted-content">
      <!--非同期リクエスト承認キャンセルボタン-->
      <div id="cancel-accept-btn">
        <%= render "public/post_requests/cancel-accept-btn", accept_posts: @accept_posts %>
      </div>
    </div>
  </div>
  <div class="requesting-list column">
    <h4>リクエスト中</h4>
    <div class="requesting-content">
      <!--非同期リクエストボタン-->
      <div id="request-btn">
        <%= render "public/post_requests/waiting-request-btn", requesting_posts: @requesting_posts %>
      </div>
    </div>
  </div>
</section>