// Place all the styles related to the public/Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//チャットページ
.chats {
  padding: 20px 10px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
}

.face-icon {
  float: left;
  margin-right: -50px;
  margin-top: 10px;
  width: 40px;
}

.chatting {
  width: 100%;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  margin: 10px 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
  text-align: left;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.message-area {
  text-align: right;
}

.message-form {
  margin-right: 20px;
  margin-bottom: 10px;
}

#message {
  width: 100%;
  height: 350px;
  overflow: scroll;
  margin-bottom: 5px;
}

//チャットページ未登録プロフィール写真
.chats img.attachment.member.profile_image.fallback {
  width: 30px;
  height: 30px;
}

//チャットページ登録プロフィール写真
.chats img.attachment.member.profile_image {
  width: 30px;
  height: 30px;
}
