// Place all the styles related to the public/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  width: 20%;
  margin: 10px;
}

//イベント一覧ページ
.events-index h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.events-index h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

#new-card {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#finished-card {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

//イベント詳細ページ
.events {
  text-align: center;
}

.event-content {
  display: inline-block;
  text-align: left;
}

.event-content h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.event-content h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

//イベント詳細フィードバック
.feedback-list {
  text-align: center;
}

.feedback-list h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.feedback-list h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

#feedback-card {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#feedback-card .card {
  box-shadow: 0 2px 5px #ccc;
}

.feedback-image {
  margin-left: 37%;
  margin-top: 10%;
}

//イベント編集ページ
.event-edit {
  text-align: center;
}

.event-edit-form {
  display: inline-block;
  text-align: left;
}

.event-edit-form h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.event-edit-form h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

//マイイベントページ
.new-event-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

.join-event-content {
  width: 100%;
  height: 150px;
  overflow: scroll;
  margin-bottom: 5px;
}

.join-event h4 {
  background: #0094D6;
  color: #FFF;
  font-size: 13px;
  margin: 0;
  display:inline-block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.joined-event-content {
  width: 100%;
  height: 150px;
  overflow: scroll;
  margin-bottom: 5px;
}

.joined-event h4 {
  background: #0094D6;
  color: #FFF;
  font-size: 13px;
  margin: 0;
  display:inline-block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.host-event-content {
  width: 100%;
  height: 150px;
  overflow: scroll;
  margin-bottom: 5px;
}

.host-event h4 {
  background: #0094D6;
  color: #FFF;
  font-size: 13px;
  margin: 0;
  display:inline-block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.finished-event-content {
  width: 100%;
  height: 150px;
  overflow: scroll;
  margin-bottom: 5px;
}

.finished-event h4 {
  background: #0094D6;
  color: #FFF;
  font-size: 13px;
  margin: 0;
  display:inline-block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

//イベント開催ページ
.new-event h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.new-event h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

.new-event {
  text-align: center;
}

.event-form {
  display: inline-block;
  text-align: left;
}

//管理者用イベントページ
.event-admin {
  overflow: scroll;
  height: 75vh;
}

.event-table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

//イベント詳細ページ未登録プロフィール写真
.events img.attachment.member.profile_image.fallback {
  width: 30px;
  height: 30px;
}

//イベント詳細ページ登録プロフィール写真
.feedback-list img.attachment.member.profile_image.fallback {
  width: 50px;
  height: 50px;
}

//マイイベント　イベント写真未登録
.join-event-list img.attachment.event.event_image.fallback {
  width: 120px;
  height: 80px;
  padding: 5px;
}

.host-event-list img.attachment.event.event_image.fallback {
  width: 120px;
  height: 80px;
  padding: 5px;
}

//マイイベント　イベント写真登録
.join-event-list img.attachment.event.event_image {
  width: 120px;
  height: 80px;
  padding: 5px;
}

.host-event-list img.attachment.event.event_image {
  width: 120px;
  height: 80px;
  padding: 5px;
}

//イベント詳細　イベント写真未登録
.event-image img.attachment.event.event_image {
  width: 300px;
  height: 200px;
}

