// Place all the styles related to the public/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-event-list {
  width: 100%;
  height: 100px;
  overflow: scroll;
  margin-bottom: 30px;
}