// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  position: relative;
}

//アプリキャッチフレーズ
.illust1 {
  animation: img_box_9955 2.7s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
}

//イメージ動き
@keyframes img_box_9955 {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-10px) }
  66.66667% { transform: translateY(0) }
  100% { transform: translateY(0) }
}

.illust2 {
  animation: img_box_9955 3s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
}

.illust3 {
  position: absolute;
  display: block;
  width: 30%;
  height: auto;
  top: 60%;
  left: 30%;
  animation: img_box_9955 4s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
}

.about-box {
  position: absolute;
  display: block;
  width: 75%;
  height: auto;
  top: 10%;
  left: 10%;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: left;
  z-index: 50;
  letter-spacing: 3px;
}

.about-title {
  font-size: 50px;
}

.circle {
  font-weight: bold;
}

.about-sub-title {
  margin-left: 30px;
}

@media screen and (max-width: 650px) {
　.about-box {
  position: absolute;
  display: block;
  width: 90%;
  height: auto;
  top: 20%;
  left: 10%;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: left;
  z-index: 50;
  }
}

//view more
.view-more-desktop {
  text-align: center;
  z-index: 1000;
  animation: img_box_9955 0.5s linear 2;
  transform-origin: 50% 50%;
}

.view-more-mobile {
  margin-top: 100px;
  text-align: center;
  z-index: 1000;
  animation: img_box_9955 0.5s linear 2;
  transform-origin: 50% 50%;
}

.view-more-word {
  font-weight: bold;
  margin-top: 35px;
}

.view-more-icon {
  color: #F1D144;
  font-size: 2.5em;
  margin-top: -5px;
}

//アプリ使い方
.service-step1 {
  background-color: #3265CE;
  color: #FFFFFF;
}

.service-box {
  margin-left: 20px;
  margin-right: 20px;
}

.how-to-title {
  display: flex;
  align-items: center;
}

.how-to-Eng {
  font-size: 30px;
  font-weight: bold;
}

.how-to-Jp {
  font-weight: bold;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-to-Jp:before, .how-to-Jp:after {
  border-top: 1px solid;
  content: "";
  width: 20px;
}
.how-to-Jp:before {
  margin-right: 5px;
}
.how-to-Jp:after {
  margin-left: 5px;
}

//step1
.step {
  font-size: 20px;
  font-weight: bold;
}

.step-title {
  font-weight: bold;
}

.step-info {
  padding-top: 30px;
}

//step2
.service-step2 {
  background-color: #FFFFFF;
  color: #383838;
}

.step2-illust {
  margin-left: 30px;
}

//step3
.service-step3 {
  background-color: #3265CE;
  color: #FFFFFF;
}
