// Place all the styles related to the public/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//マイページ
.profile {
  margin-top: -12px;
}

.counts {
  display: flex;
}

.timeline-content {
  width: 100%;
  height: 520px;
  overflow: scroll;
}

//会員情報編集ページ
.unsubscribe-link {
  text-align: right;
  margin-right: 10px;
  margin-top: 200px;
}

.profile-edit {
  text-align: center;
}

.profile-edit-form {
  display: inline-block;
  text-align: left;
}

.profile-edit-form h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.profile-edit-form h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

//退会ページ
.unsubscribe-form {
  text-align: center;
  margin-top: 200px;
}

//管理者用会員一覧ページ
.member-admin {
  overflow: scroll;
  height: 75vh;
}

.member-table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

  //会員詳細ページ 未登録プロフィール写真
  .prof-image img.attachment.member.profile_image.fallback {
    width: 100px;
    height: 100px;
  }

  //会員詳細ページ タイムライン 未登録プロフィール写真
  .timeline img.attachment.member.profile_image.fallback {
    width: 50px;
    height: 50px;
  }

  //会員詳細ページ タイムライン 登録プロフィール写真
  .timeline img.attachment.member.profile_image {
    width: 50px;
    height: 50px;
  }

  //会員編集ページ 登録プロフィール写真
  .profile-edit img.attachment.member.profile_image {
    width: 100px;
    height: 100px;
  }

  //会員編集ページ 登録プロフィール写真
  .profile-edit img.attachment.member.profile_image.fallback {
    width: 100px;
    height: 100px;
  }