// Place all the styles related to the public/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  margin-top: -12px;
}

.counts {
  display: flex;
}

.timeline-content {
  width: 100%;
  height: 520px;
  overflow: scroll;
  //margin-top: 30px;
  // margin-bottom: 5px;
}

.unsubscribe-link {
  text-align: right;
  margin-right: 10px;
  margin-top: 200px;
}

.unsubscribe-form {
  text-align: center;
  margin-top: 200px;
}