// Place all the styles related to the public/PostRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .request {
//   display: flex;
//   justify-content: center;
// }

// .waiting-list {
//   //width: 30%;
//   //height: auto;
//   // overflow: scroll;
//   // margin-bottom: 30px;
//   // margin-right: 10px;
// }

.requested-content {
  width: 100%;
  height: 300px;
  overflow: scroll;
  //margin-top: 30px;
  margin-bottom: 5px;
}

.waiting-list h4 {
  background: #0094D6;
  color: #FFF;
  margin: 0;
  display:inline-block;
  padding: .3em .5em;
  border-radius: 10px 10px 0 0;
}

// .accept-list {
//   //width: 30%;
//   //height: auto;
//   overflow: scroll;
//   margin-bottom: 30px;
//   margin-right: 10px;
// }

.accepted-content {
  width: 100%;
  height: 300px;
  overflow: scroll;
  //margin-top: 30px;
  margin-bottom: 5px;
}

.accept-list h4 {
  background: #0094D6;
  color: #FFF;
  margin: 0;
  display:inline-block;
  padding: .3em .5em;
  border-radius: 10px 10px 0 0;
}

// .requesting-list {
//   //width: 30%;
//   //height: auto;
//   overflow: scroll;
//   margin-bottom: 30px;
//   margin-right: 10px;
// }

.requesting-content {
  width: 100%;
  height: 300px;
  overflow: scroll;
  //margin-top: 30px;
  margin-bottom: 5px;
}

.requesting-list h4 {
  background: #0094D6;
  color: #FFF;
  margin: 0;
  display:inline-block;
  padding: .3em .5em;
  border-radius: 10px 10px 0 0;
}
