// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-timeline {
  width: 100%;
  //height: 250px;
  overflow: scroll;
  margin-bottom: 30px;
}

#map {
  height: 500px;
  width: 100%;
}