// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline {
  width: 500px;
  height: 500px;
  overflow: scroll;
  margin-bottom: 30px;
}
