// Place all the styles related to the public/Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.following-list h4 {
  background: #0094D6;
  color: #FFF;
  font-size: 13px;
  margin: 0;
  display:inline-block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.follower-list h4 {
  background: #0094D6;
  color: #FFF;
  font-size: 13px;
  margin: 0;
  display:inline-block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

//フォローリスト　未登録プロフィール写真
.following-list img.attachment.member.profile_image {
  width: 50px;
  height: 50px;
}

//フォローリスト　未登録プロフィール写真
.follower-list img.attachment.member.profile_image {
  width: 50px;
  height: 50px;
}