<%= link_to member_relationships_path(member), method: :post, remote: true do %>
  <button type="button" class="btn btn-primary rounded-pill">
    follow <i class="fas fa-handshake"></i>
  </button>
<% end %>