<%= link_to member_relationships_path(member), method: :delete, remote: true do %>
  <button type="button" class="btn btn-secondary rounded-pill">
    unfollow <i class="far fa-handshake"></i>
  </button>
<% end %>