<section class="chat-lists">
  <h4>DM一覧</h4>
  <div class="chat-room">
    <% @rooms.each do |room| %>
      <%= link_to chat_path(opponent_member(room)) do %>
        <%= opponent_member_name(room) %>
        <%= most_new_message_preview(room) %>
      <% end %>
    <% end %>
  </div>
</section>
