トップページ

<% unless member_signed_in? %>
  <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post %>
<% end %>

<div class="top">
  <div class="columns main">
    <div class="column is-5 is-offset-1">
      <h2>キャッチコピー</h2>
    </div>
    <div class="column is-5">
      <h2>イメージ</h2>
    </div>
  </div>
</div>