<section class="unsubscribe">
  <div class="unsubscribe-form">
    <h4>退会手続き</h4>
    <p>本当に退会してもよろしいですか？</p>
    <%= link_to '退会しない', member_path(current_member), class: "button is-info is-small", style: "margin-top: 30px; margin-right: 50px" %>
    <%= link_to '退会する', members_unsubscribe_path, "data-confirm" => "本当に退会しますか？", method: :patch, class: "button is-danger is-small", style: "margin-top: 30px;" %>
  </div>
</section>