<div class="thanks-image" style="text-align: center;">
  <%= image_tag "/thanks.jpg", alt: "Thank you", size: "750x500" %>
  <p>
  <%= link_to "マイイベントへ戻る", events_myevent_path, class: "button is-light" %>
  </p>
</div>