/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'bulma';
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
  background-color: #FFFFFF;
  color: #383838;
}

//メニューバー
.navbar {
  background-color: #FFFFFF;
  color: #EDEDED;
  letter-spacing: 2px;
  width: 100%;
  position: sticky;
  top: 0;
  position: fixed;
  z-index: 8000;
}

.logo {
  position: absolute;
  top: -20px;
  left: 20px;
}

footer {
  width: 100%;
  // background-color: #E2E7E1;
  background-color: #FFFFFF;
  color: #EDEDED;
  height: auto;
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
  z-index: 5000;
}

.main {
  font-family: "Noto Sans JP",Roboto,"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans","Font Awesome 5 Free",Meiryo,sans-serif;
  letter-spacing: 1px;
  flex: 1;
  margin-top: 60px;
  padding-bottom: auto;
  margin-bottom: 55px;
  height: 100%;
}

.nav-list {
  text-align: right;
}

//リンク
a {
    color: #0044CC;
    cursor: pointer;
    text-decoration: none;
    transition: none 86ms ease-out;
}

//ヘッダーメニュー
.tabs a {
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

.navbar-item .image {
  display: flex;
}

//header ベルアイコン info-alert, info-countの位置調整用
.info-bar {
  position: relative;
}

//header ベルアイコン
.info-alert {
  position: absolute;
  top: 20%;
  left: 73%;
  z-index: 5;
  font-size: 15px;
}

//header informationの数
.info-count {
  position: absolute;
  top: 19%;
  left: 75%;
  font-size: 5px;
  color: white;
  z-index: 10;
}

//mobile用フッター
.mobile-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


//footer地図アイコン
.map {
  font-size: 2.5em;
  color: #383838;

}

//footerイベントアイコン
.event {
  font-size: 2.5em;
  color: #383838;
}

//footerマイページアイコン
.person {
  font-size: 2.5em;
  color: #383838;
}

//footer受信ボックスアイコン
.message-box {
  font-size: 2.3em;
  color: #383838;
}

.footer-content {
  display: flex;
  position: relative;
}

//お問い合わせ
.inquiry-btn {
  position: absolute;
  top: 30%;
  left: 80%;
}

//入力フォーム
textarea {
  font-size: 16px;
}

//text_field
input {
  font-size: 16px;
}

//select_tag
select {
  font-size: 16px;
}

//アカウント登録
.signup {
  text-align: center;
}

.signup-form {
  display: inline-block;
  text-align: left;
}

.signup-form h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.signup-form h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

//ログイン
.login {
  text-align: center;
}

.login-form {
  display: inline-block;
  text-align: left;
}

.login-form h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.login-form h4:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #276DDA;
}

//エラーメッセージ
.error-alert {
    color:#262626;
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
  }

//未登録プロフィール写真
img.attachment.member.profile_image.fallback {
  width: 50px;
  height: 50px;
}

//メニューバー　プロフィール写真
.navbar-menu img.attachment.member.profile_image.fallback {
  width: 30px;
  height: 30px;
}