/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'bulma';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.navbar {
  background-color: f7f9f7;
  color: #EDEDED;
  letter-spacing: 2px;
  width: 100%;
  position: sticky;
  top: 0;
  position: fixed;
  z-index: 5000;
}

footer {
  width: 100%;
  background-color: #cbd1ca;
  color: #EDEDED;
  height: auto;
  letter-spacing: 2px;
}

.main {
  background-color: #e2e7e2;
  color: #383838;
  font-family: "Noto Sans JP",Roboto,"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  letter-spacing: 1px;
  flex: 1;
  margin-top: 60px;
}

.nav-list {
  text-align: right;
}

//リンク
a {
    color: #0044CC;
    cursor: pointer;
    text-decoration: none;
    transition: none 86ms ease-out;
}

//ヘッダーメニュー
.tabs a {
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

.navbar-item .image {
  display: flex;
}

//header ベルアイコン info-alert, info-countの位置調整用
.info-bar {
  position: relative;
}

//header ベルアイコン
.info-alert {
  position: absolute;
  top: 20%;
  left: 73%;
  z-index: 5;
}

//header informationの数
.info-count {
  position: absolute;
  top: 19%;
  left: 75.5%;
  font-size: 5px;
  color: white;
  z-index: 10;
}

//mobile用フッター
.mobile-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


//footer地図アイコン
.map {
  font-size: 2.5em;
  color: #383838;

}

//footerイベントアイコン
.event {
  font-size: 2.5em;
  color: #383838;
}

//footerマイページアイコン
.person {
  font-size: 2.5em;
  color: #383838;
}

//footer受信ボックスアイコン
.message-box {
  font-size: 2.3em;
  color: #383838;
}
