<section class="notifications">
  <h4>通知一覧</h4>
  <div class="notification-list">
    <% notifications = @notifications.where.not(visitor_id: current_member.id) %>
    <% if notifications.exists? %>
      <%= render notifications %>
      <%= paginate notifications %>
    <% else %>
      <p>通知はありません。</p>
    <% end %>
  </div>
  <div class="all-destroy-btn">
    <%= link_to notifications_path, method: :delete, class: "button is-light is-small" do %>
        <i class="fas fa-trash"></i>　全て削除
    <% end %>
  </div>
</section>