<section class="notifications">
  <h4>通知一覧</h4>
    <%= link_to notifications_path, method: :delete do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">全て削除する</h7>
    <% end %><hr>
  <div class="notification-list">
    <% notifications = @notifications.where.not(visitor_id: current_member.id) %>
    <% if notifications.exists? %>
      <%= render notifications %>
      <%= paginate notifications %>
    <% else %>
      <p>通知はありません。</p>
    <% end %>
  </div>
</section>